
@{
    ViewData["Title"] = "ToSave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ToSave</h1>

<table class=" table table-striped">
    <tr>
        <th>Recipe</th>
        <th>Drink</th>
        <th>Movie</th>
    </tr>
    <tr>
	    <td>@ViewBag.recipeName <p style="display: none;">@ViewBag.recipeId</p></td>
		<td>@ViewBag.drinkName <p style="display: none;">@ViewBag.drinkId</p></td>
        <td>Movie</td>
    </tr>
</table>

<h5></h5>
<button>

</button>