
@{
    ViewData["Title"] = "GetRandomRecipe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--We use razor to help collect the list that has been passed to us from the Home Controller-->
@model Recipes
<!--This table is used to display the data from the list-->
<table class=" table table-striped">
    <tr>
        <th style="text-align:left" class="align-middle"><h2>Recipe Id</h2></th>
        <th style="text-align:left" class="align-middle"><h2>Recipe Name</h2></th>
        <th style="text-align:left" class="align-middle"><h2>Category</h2></th>
    </tr>

    <tr>
        <td><h4>@Model.Title</h4></td>

        @foreach (var step in Model.AnalyzedInstructions[0].steps)
        {
            <td>
                <h4>

                    @step.number
                    @foreach (var ingred in step.ingredients)
                    {
                        @ingred.name<br />
                    }<br>
                    @step.step
                </h4>
            </td>
        }
        <td><image src=@Model.Image></td>
    </tr>

</table>

