
@{
    ViewData["Title"] = "Drink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Drink</h1>

<form asp-controller="Drink" asp-action="GetDrink" class="float-left">
    <div>
        <label class="form-group"><font color="white">Enter Ingredient</font></label><br />
        <input type="text" name="alcohol" required><br/>
        <input type="submit" value="Sumbit"><br />
    </div>
</form><br />

<div class="float-right">
    <form asp-controller="Drink" asp-action="RndNonAlc" >
        <div>
            <input type="submit" value="Random Non-Alcoholic Drink"><br />
        </div>
    </form>
    <div> </div><br />
    <form asp-controller="Drink" asp-action="RndAlc" >
        <div style=”margin-bottom:5px”>
            <input type="submit" value="Random Alcoholic Drink"><br />
        </div>
    </form>
    <div> </div><br />
    <form asp-controller="Drink" asp-action="RndDrink">
        <div>
            <input type="submit" value="Random Drink" /><br />
        </div>
    </form>
</div>