
@{
    ViewData["Title"] = "Drink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p class="drink-header">Drink</p>
<form asp-controller="Drink" asp-action="GetDrink" class="float-left">
    <div>
        <label class="form-group drink-sub-header">Enter Ingredient</label><br />
        <input type="text" name="alcohol" required style="margin-bottom:10px"><br />
        <input type="submit" value="Submit"><br />
    </div>
</form>
<br />
<div class="float-right">
    <form asp-controller="Drink" asp-action="RndNonAlc">
        <div>
            <input type="submit" value="Random Non-Alcoholic Drink"><br />
        </div>
    </form>
    <div> </div><br />
    <form asp-controller="Drink" asp-action="RndAlc">
        <div style="margin-bottom:5px">
            <input type="submit" value="Random Alcoholic Drink"><br />
        </div>
    </form>
    <div> </div><br />
    <form asp-controller="Drink" asp-action="RndDrink">
        <div>
            <input type="submit" value="Random Drink" /><br />
        </div>
    </form>
</div>