
@{
    ViewData["Title"] = "Drink";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Drink</h1>

<form asp-controller="Drink" asp-action="GetDrink">
    <div>
        <label class="form-group">Enter Ingredient</label><br />
        <input type="text" name="alcohol"><br/>
        <input type="submit">
    </div>
</form>