
@{
    ViewData["Title"] = "GetDrinkInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Drink

<h1>GetDrinkInfo</h1>

<h3>@Model.Name</h3>
<p>@Model.strMeasure1 @Model.strIngredient1</p>

@* view for a different api call. theory was to call the api to search for a theory and
    return drink ids in one method. then in another method, use the random method to call 
    an id to make an api call to get the drink name, ingredients, measurements, etc for the drink. 
    Getting the actual drink was to be able to be recalled if needed another drink.  *@