/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
.navigation-bar {
    background-color: oldlace;
    opacity: .8;
}

.table {
    background-color: oldlace;
    opacity: .6;
}

.get-started-button {
    background-color: oldlace;
    font-family: Playfair Display;
    font-weight: 200;
    border-radius: 3px;
    border: none;
    font-size: 24px;
    width: 300px;
    height: auto;
    margin-top: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.next-button {
    background-color: oldlace;
    font-family: Bellota Text;
    font-weight: 200;
    border-radius: 3px;
    border: none;
    font-size: 20px;
    width: 150px;
    height: auto;
    margin-top: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.recipe-text {
    text-align: center;
    padding-top: 30px;
    margin-left: 20px;
    font-size: 24px;
    color: oldlace;
    font-weight: 200;
}

.drink-header, .recipe-header {
    font-family: Bellota;
    font-size: 40px;
    color: oldlace;
    font-weight: 500;
    padding-bottom: 20px;
}

.movie-header {
    font-family: Playfair Display;
    font-weight: 200;
    font-size: 20px;
    color: black;
}

.movie-text {
    font-family: Playfair Display;
    font-size: 16px;
    color: black;
}

.drink-sub-header {
    font-family: Bellota Text;
    font-weight: 200;
    font-size: 24px;
    color: oldlace;
    font-weight: 400;
}

.recipe-image {
    border-radius: 10px;
    max-width: 500px;
    margin-left: 75px;
    margin-bottom: 50px;
}

.recipe-button {
    background-color: oldlace;
    font-family: Bellota Text;
    font-weight: 200;
    border-radius: 3px;
    border: none;
    font-size: 18px;
}

.recipe-list {
    list-style: none;
    font-family: Bellota Text;
}

.ingredient-list {
    font-size: 24px;
}

.ingredient-list-container {
    float: left;
}

.scrollable-container {
    height: 75%;
    overflow-y: auto;
    color: oldlace;
}

body {
    background-image: url(https://www.furninova.com/sites/default/files/styles/social_media/public/fur/en/product/paso-doble-night/lifestyle-images/paso-doble-without-joy-chair.jpg?itok=pUgKQvdm)
}

.nav-icon {
    height: 62px;
    width: 62px;
}

.navbar-brand {
    font-family: Bellota;
    color: black;
    font-weight: 600;
    font-size: 24px;
}
.navigation-link {
    color: black;
    font-family: Bellota Text;
    font-weight: 400;
    font-size: 18px;
    padding-top: 18px;
}

.input-label {
    font-family: Bellota Text;
    color: white;
}
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

.home-page-title, .home-page-subtitle, .drink-input {
    color: white;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
