
@{
    ViewData["Title"] = "GetGenre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@model GenreArray*@
@model List<Genre>
<!--This table is used to display the data from the list-->
<table class=" table table-striped">
    <tr>
        <th style="text-align:left" class="align-middle"><h2>Genre Id</h2></th>
        <th style="text-align:left" class="align-middle"><h2>Genre Name</h2></th>
    </tr>

    <!--We us a foreach loop to iterate through the list and display the properties as needed-->
    @foreach (Genre genre in Model)
    {
        <tr>
            <td>@genre.Id</td>
            <td>@genre.Name</td>
        </tr>
    }
</table>