@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4 home-page-title">Welcome to Kitchen Sink! </h1>
        <h2 class="display-2 home-page-subtitle"> Your one-stop destination for planning your night in...because going out is the worst. </h2>

        <a asp-controller="Recipes" asp-action="GetStarted">
            <input type="button" class="text-center justify-content-xl-center get-started-button" value="Get Started" />
        </a>
        @*<button type="button" class="text-center justify-content-xl-center get-started-button" asp-controller="Home" onClick="GetStarted()">Get Started</button>*@
    </div>
