@{
    ViewData["Title"] = "Home Page";
}

@model Recipes

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label>Protein</label>
                <input asp-for="IngredientName" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Starch</label>
                <input asp-for="IngredientName" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Veggies</label>
                <input asp-for="IngredientName" class="form-control" />
                <span class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Spices</label>
                <input asp-for="IngredientName" class="form-control" />
                <span asp-validation-for="IngredientName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Aromatic</label>
                <input asp-for="IngredientName" class="form-control" />
                <span asp-validation-for="IngredientName" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary" asp-controller="Recipes" asp-action="GetRandomRecipe">Next</button>
        </form>
    </div>
</div>
